
body {
  background-color: black;
  }

.grid {
    
    margin: auto;
    border-style: solid;
    border-color: gold;
    display: flex;  
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
  }

  
  